* {
	box-sizing: border-box;
}

.SecondView {
	background-color: white;
	padding: 20px;
	margin: 0 20px;
	text-align: center;
	box-shadow: 0px 0px 3px 0.5px rgb(228, 227, 227);
}

.MainDiv {
	margin: 0 auto;
	max-width: 800px;
	color: rgba(0, 0, 0, 0.685);
}

.SecondView a {
	text-decoration: none;
	width: 100%;
	color: rgb(2, 141, 221);
}

.SecondView a:hover,
.SecondView a:active {
	color: rgb(0, 111, 175);
	text-decoration: underline;
}

.MainDiv h1 {
	text-align: left;
	margin: 30px 50px 5px 50px;
	font-size: 30px;
	font-weight: bold;
}

.MainDiv p {
	text-align: left;
	font-size: 17px;
	margin: 10px 50px;
}

.Div {
	color: black;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 55px;
}

.Div .p1 {
	margin-top: 10px;
	margin-bottom: 20px;
}

.Div p {
	margin: 2px;
	color: rgba(0, 0, 0, 0.685);
}

.Input,
.Button {
	box-sizing: border-box;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.267);
	width: 10%;
	height: 60px;
	font-size: 18px;
	padding: 1px;
	border-radius: 2px;
}

.Button {
	width: auto;
	padding: 5px;
	background-color: rgba(2, 141, 221, 0.884);
	color: white;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}

.InputDiv {
	width: 100%;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 10px;
}

@media (min-width: 300px) {
	.Input {
		width: 35%;
		padding: 10px;
	}
}

@media (min-width: 550px) {
	.Input {
		width: 40%;
		padding: 10px;
	}
}