.FooterLinks {
    margin: 2px;
    padding: 5px ;
    font-size: 17px;
    display: inline-flex;
}

.FooterLinks a{
    width: 100%;
    color: rgb(2, 141, 221);
    box-sizing: border-box;
    text-decoration: none;
   padding-right:9px ;
}

.FooterLinks a:hover,
.FooterLinks a:active{
    color: rgb(0, 111, 175);
    text-decoration: underline;
}

.Li{
    color: rgba(80, 79, 79, 0.39);
    font-size: 17px;


    
} 

