.ShareUrlSection {
    margin: 2px;
    padding: 5px;
    font-size: 17px;
    display: inline-flex;
}

.ShareUrlSection a {
    width: 100%;
    color: white;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 14px;
}

.Facebook {
    background-color: #4267B2;
    margin: 5px;
    padding: 8px 5px;
}

.Twitter {
    background-color: #00acee;
    margin: 5px;
    padding: 8px 5px;
}

.Pinterest {
    background-color: #c8232c;
    margin: 5px;
    padding: 8px 5px;
}

.Tumblr {
    background-color: #34526f;
    margin: 5px;
    padding: 8px 5px;
}